#map {
  width: 100%;
  height: 400px;
}

.pocketMonstersTitle {
  font-family: "Source Sans Pro";
  font-size: 22px;
  text-align: center;
  letter-spacing: 4px;
}

.search-bar {
  margin: 20px;
  text-align: center;
}

.search-bar-pokemon-name {
  width: 35%;
}

.latlng {
  width: 10%;
  margin: 1px;
  text-align: center;
}


.pokedex {
  text-align: center;
}

.failure {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 10px;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
}

.pokedex-entry {
  text-align: center;
  font-family: "Source Sans Pro";
  font-size: 14px;
  line-height: 1.2em;
  text-transform: none;
  text-decoration: none;
  letter-spacing: 1px;
  font-weight: 300;
  font-style: normal;
}

.crimez {
  font-family: "Source Sans Pro";
  text-align: center;
  font-size: 2px;
  letter-spacing: 1px;
  display: none
}
